


<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th class="text-center">Opções</th>
    </tr>
<tr class="text-left "*ngFor="let contato of contatos">
    <td>{{ contato.id }}</td>
    <td>{{ contato.nome }}</td>
    <td>{{ contato.telefone }}</td>
    <td class="text-center">
        <button type="button" class="btn btn-default" (click)="emitEditar(contato)">Editar</button>
        <button type="button" class="btn btn-primary" (click)="emitRemove(contato)">Remover</button>
    </td>
</tr>
  </table>
